NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://username@localhost:5432/library_db

JWT_SECRET=your-access-token-secret
JWT_EXPIRES_IN=15m

JWT_REFRESH_SECRET=your-refresh-token-secret
JWT_REFRESH_EXPIRES_IN=7d
